<footer class="vk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-item about">
                    <h4 class="vk-heading text-uppercase"><span class="vk-text-color-yellow-1">A</span> Propos</h4>
                    <p class="vk-text">
                        Contrôle et supervision des travaux de réhabilitation de 3 180 ha de périmètres irrigués, de pose d’équipements hydro mécaniques, d’électrification et de maintenance des stations de pompage et des barrages dans le Bassin de l’Anambé
                    </p>
                    <ul class="vk-list vk-social-link">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>

                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>

                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                      

                    </ul>
                </div>
                <!--./about-->


                <div class="col-md-4 footer-item quick-link">
                    <h4 class="vk-heading text-uppercase">Liens rapides</h4>
                    <ul class="vk-list vk-quick-link text-capitalize">
                        <li><a href="2.1-about-page.html">Presentation</a></li>

                        <li><a href="3.1-agriculture-service.html">Services</a></li>

                        <li><a href="4.1-project-list.html">Projets</a></li>

                        <li><a href="2.4-faq-page.html">Blog</a></li>

                        <li><a href="2.6-contact-page.html">Contact</a></li>

                    </ul>
                </div>
                <!--./quick-link-->


                <div class="col-md-4 footer-item office">
                    <h4 class="vk-heading text-uppercase">Siege Social</h4>
                    <ul class="vk-list vk-office">
                        <li><i class="fa fa-map"></i>{{ site.adresse }}</li>

                        <li><i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>

                        <li><i class="fa fa-phone"></i>{{ site.tel }}</li>

                    </ul>

                </div>
                <!--./office-->

            </div>
            <!--./row-->

        </div>
        <!--./container-->
        <div class="footer-bot">
            <div class="container">
                <p class="vk-text">
                    Design by <a class="vk-text-color-yellow-1" href="http://revovision.ca">Revovision</a> With <span class="vk-text-color-yellow-1">Love</span>.
                </p>

                <p class="vk-text">
                    All Rights Reserved.
                </p>
            </div>
        </div>
        <!--./footer-bot-->
    </footer>
    <!--./vk-footer-->  </div>
<!--./main-wrapper-->

<!-- BEGIN: SCRIPT -->
<script src="./plugin/jquery/jquery-2.0.2.min.js"></script>
<script src="./plugin/plugin.min.js"></script>
<script src="./plugin/main.js"></script>
<script src="./plugin/custom.js"></script>
<!-- END: SCRIPT -->
</body>
</html>