<header class="vk-header vk-header-transparent vk-header-home">
        <nav class="vk-navbar  navbar">
            <div class="container">
                <div class="vk-navbar-header navbar-header">
                    <button type="button" class="navbar-toggle vk-navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
                        <i class="toggle-icon"></i>
                    </button>
                    <!--./vk-navbar-toggle-->

                    <a class="vk-navbar-brand navbar-brand" href="index.html">
                        <svg version="1.1" id="wicon-logo-svg" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="290.037px" height="290.25px" viewBox="0 0 290.037 290.25"
                             enable-background="new 0 0 290.037 290.25"
                             xml:space="preserve">
                        <polygon fill="#FFC000" points="170,60.25 50,60.25 0,60.25 0,110.25 0,290.25 50,290.25 50,110.25 170,110.25 "/>
                            <polygon fill="#FFC000" points="60.038,120.25 60.038,240.25 60.038,290.25 110.038,290.25 290.037,290.25 290.037,240.25
                                      110.038,240.25 110.038,120.25 "/>
                            <polygon fill="#FFC000"
                                     points="120.019,230 240.019,230 290.019,230 290.019,180 290.019,0 240.019,0 240.019,180 120.019,180 "/>
                            <polygon fill="#FFC000"
                                     points="229.98,170 229.98,50 229.98,0 179.98,0 -0.019,0 -0.019,50 179.98,50 179.98,170 "/>
                        </svg>
                        <span class="logo-text text-uppercase">SODAGRI</span>
                    </a>
                    <!--./vk-navbar-brand-->

                </div>
                <!--./vk-navbar-header-->

                <div class="collapse navbar-collapse vk-navbar-collapse" id="menu">
                    <ul class="vk-navbar-nav navbar-right">
                        <li>
                            <a href="#">Accueil</a>
                        </li>

                        <li>
                            <a href="#">Presentation</a>
                            
                        </li>

                        <li>
                            <a href="#">Services</a>
                            <ul class="vk-navbar-nav child">
                                <li><a href="3.1-consultant-service.html">Industrie</a></li>

                                <li><a href="3.2-design-service.html">Agriculture</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#">Projets</a>
                            <ul class="vk-navbar-nav child">
                                <li><a href="4.1-project-list.html">Projet 1</a></li>

                                <li><a href="4.2-project-grid.html">Projet 2</a></li>

                                <li><a href="4.3-single-project.html">Projet 3</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">blog</a>
                        </li>

                        <li>
                            <a href="6.1-header.html">Contactez-nous</a>
                        </li>
                        <li class="item-search">
                            <span class="btn-search hidden-xs hidden-sm" data-toggle="collapse" data-target="#box-search-header"><i class="fa fa-search"></i></span>

                        </li>
                    </ul>
                    <!--./vk-navbar-nav-->

                    <div class="box-search-header collapse" id="box-search-header">
                        <div class="vk-input-group">
                            <input type="text" name="key" placeholder="Search" class="form-control">
                            <button class="vk-btn btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <!--./box-search-header-->

                </div>
                <!--./vk-navbar-collapse-->

            </div>
            <!--./container-->

        </nav>
        <!--./vk-navbar-->

        <div class="vk-header-top hidden-xs hidden-sm">
            <div class="container">
                <div class="content">
                    <ul class="quick-address">
                        <li>{{ site.adresse }}</li>
                        <li>{{ site.tel }}</li>
                        <li>{{ site.email }}</li>
                        <li>{{ site.horaires }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--./vk-header-top-->
    </header>
    <!--./vk-header-->