 <div class="vk-what-we-do-section vk-section vk-section-style-2 vk-section-style-3">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                      <span>
                          <span class="vk-text-color-yellow-1">DOMAINES</span> D'ACTIVITES
                      </span>
                    </h2>
                    <nav class="box-filter text-center clearfix">

                        <ul class="vk-filter vk-filter-button-fix hidden-xs hidden-sm">

                            <li class="data-filter" data-filter=".first">agriculture</li>

                            <li class="data-filter" data-filter=".data-industriel">industriel</li>

                            

                        </ul>
                        <!--./vk-filter-->

                        <select class="vk-filter vk-filter-button-fix form-control hidden-md hidden-lg" id="dropdown-filter">

                            <option class="data-filter" value=".first">agriculture</option>

                            <option class="data-filter" value=".data-industriel">industriel</option>


                        </select>
                        <!--./vk-filter-->
                    </nav>

                    <div class="row vk-filter-fix">
                        <div class="item first">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="images/services/image-8.jpg" alt=""/>
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">agriculture</h4>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                                </div>
                                <div class="vk-buttons">
                                    <div class="vk-counter vk-counter-non-icon">
                                        <ul class="content">
                                            <li class="number-count" data-to="124">124</li>
                                            <li class="title text-uppercase">projets</li>
                                        </ul>
                                    </div>
                                    <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">VOIR TOUS
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                <div class="vk-work-step-mini">
                                    <h4 class="vk-title text-uppercase">Methodes de travail</h4>
                                    <ul class="vk-list vk-list-inline vk-list-step-mini">
                                        <li aria-level="1">premiere etape</li>
                                        <li aria-level="2">seconde etape</li>
                                        <li aria-level="3">troisieme etape</li>
                                    </ul>
                                </div>
                                <!--./vk-work-step-mini-->
                            </div>
                            <!--./right-->
                        </div>

                        <div class="item data-industriel">
                            <div class="col-md-6 left">

                                <div class="vk-img-frame">
                                    <img src="images/services/image-9.jpg" alt=""/>
                                </div>
                            </div>
                            <!--./left-->

                            <div class="col-md-6 right">
                                <div class="content">
                                    <h4 class="text-uppercase vk-title">industriel</h4>
                                    <p>Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean. Let’s see what Chef Dee got that they don’t want us to eat. Cloth talk. Mogul talk. </p>
                                </div>
                                <div class="vk-buttons">
                                    <div class="vk-counter vk-counter-non-icon">
                                        <ul class="content">
                                            <li class="number-count" data-to="126">126</li>
                                            <li class="title text-uppercase">projets</li>
                                        </ul>
                                    </div>
                                    <a href="4.2-project-grid.html" class="vk-btn vk-btn-transparent text-uppercase">Voir tous
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                <!--./vk-buttons-->

                                <div class="vk-work-step-mini">
                                    <h4 class="vk-title text-uppercase">Methodes de travail</h4>
                                    <ul class="vk-list vk-list-inline vk-list-step-mini">
                                        <li aria-level="1">premiere etape</li>
                                        <li aria-level="2">seconde etape</li>
                                        <li aria-level="3">troisieme etape</li>
                                    </ul>
                                </div>
                                <!--./vk-work-step-mini-->
                            </div>
                            <!--./right-->
                        </div>

                        

                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>
            <!--./vk-what-we-do-section-->
            <div class="vk-join-our-team-section vk-background-fixed vk-background-image-4 vk-section-style-4 vk-space x-large">
                <div class="vk-background-overlay vk-background-black-1 _70"></div>

                <div class="container">
                    <div class="content-section text-uppercase">
                        <h2 class="vk-heading vk-heading-border vk-heading-border-right">
                <span>
                    <span class="vk-text-color-yellow-1">Contactez</span>-nous
                </span>

                        </h2>
                        <p>N'hesitez pas a nous contactez pour toute</p>
                        <p>demande de renseignements</p>

                        <div class="vk-buttons">
                            <a href="2.5-career-page.html" class="vk-btn vk-btn-icon vk-btn-default">
                                <span class="title">Contact</span>
                                <span class="icon">
                        <i class="fa fa-long-arrow-right"></i>
                    </span>
                            </a>
                        </div>
                        <!--./vk-buttons-->
                    </div>
                    <!--./content-section-->
                </div>
                <!-- /.container -->
            </div>