<div class="vk-section vk-content-bot">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 left-content">
                            <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                        <span>
                            <span class="vk-text-color-yellow-1">les</span>
                            temoignages
                        </span>
                            </h2>

                            <div class="row">
                                <div class="vk-testimonial-list vk-slider-arrow-top customer-slider">
                                    <div class="col-md-6 item">
                                        <div class="vk-testimonial">
                                            <div class="avatar">
                                                <div class="vk-img-frame">
                                                    <a href="#" class="vk-img">
                                                        <img src="images/testimonial/testimonial-3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="profile">
                                                    <span class="name">ABDOULAYE BALDE</span>
                                                    <span class="position">Maire de Kolda</span>
                                                </div>
                                            </div>
                                            <!--./avatar-->

                                            <div class="content">
                                                <i class="fa fa-quote-left"></i>
                                                <p class="vk-text">Fan luv. Don’t ever play yourself. You smart, you loyal, you a genius. The key to more success is to have a lot of pillows. Cloth talk. In life there will be road blocks but we will over come it. Give thanks to the most high. Major key, don’t fall for the trap, stay focused. It’s the ones closest to you that want to see you fail. Look at the sunset, life is amazing, life is beautiful, life is what you make it.</p>
                                            </div>
                                            <!-- ./content-->
                                        </div>
                                        <!--./testimonial-->
                                    </div>
                                    <div class="col-md-6 item">
                                        <div class="vk-testimonial">
                                            <div class="avatar">
                                                <div class="vk-img-frame">
                                                    <a href="#" class="vk-img">
                                                        <img src="images/testimonial/testimonial-2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="profile">
                                                    <span class="name">MOUSSA SOW</span>
                                                    <span class="position">Chef d'entreprise</span>
                                                </div>
                                            </div>
                                            <!--./avatar-->

                                            <div class="content">
                                                <i class="fa fa-quote-left"></i>
                                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started. It’s on you how you want to live your life. Everyone has a choice. I pick my choice, squeaky clean.</p>
                                            </div>
                                            <!-- ./content-->
                                        </div>
                                        <!--./testimonial-->
                                    </div>
                                    <div class="col-md-6 item">
                                        <div class="vk-testimonial">
                                            <div class="avatar">
                                                <div class="vk-img-frame">
                                                    <a href="#" class="vk-img">
                                                        <img src="images/testimonial/testimonial-1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="profile">
                                                    <span class="name">ABDOU CISSE</span>
                                                    <span class="position">agriculteur</span>
                                                </div>
                                            </div>
                                            <!--./avatar-->

                                            <div class="content">
                                                <i class="fa fa-quote-left"></i>
                                                <p class="vk-text">Let’s see what Chef Dee got that they don’t want us to eat. To succeed you must believe. When you believe, you will succeed. Another one. The key is to enjoy life, because they don’t want you to enjoy life. I promise you, they don’t want you to jetski, they don’t want you to smile. A major key, never panic. Don’t panic, when it gets crazy and rough, don’t panic, stay calm. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears, and I’m never giving up, I’m just getting started.</p>
                                            </div>
                                            <!-- ./content-->
                                        </div>
                                        <!--./testimonial-->
                                    </div>
                                    
                                </div>
                                <!--./vk-testimonial-list-->
                            </div>
                            <!--./row-->
                        </div>
                        <!--./col-md-6-->

                        <div class="col-md-6 right-content">
                            <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                        <span>
                            <span class="vk-text-color-yellow-1">Nos</span>
                            Partenaires
                        </span>

                            </h2>
                            <ul class="vk-list vk-list-client-style-1">
                                <li class="vk-img-frame">
                                    <img src="images/about/img1.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img2.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img3.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img4.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img5.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img6.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img7.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img8.png" alt="">
                                </li>

                                <li class="vk-img-frame">
                                    <img src="images/about/img9.png" alt="">
                                </li>

                            </ul>
                            <!--./vk-list-client-style-1-->                    </div>
                        <!--./col-md-6-->
                    </div>
                    <!--./row-->
                </div>
                <!--./container-->
            </div>