<div class="row">
                        <div class="vk-our-project-list vk-slider-filter">
                            <div class="item all">
                                <div class="vk-project-grid slick-slider-homepage vk-slider-arrow-top clearfix">
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 1</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 2</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 3</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 4</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 5</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 6</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-7.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 7</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-8.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 8</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-9.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 1</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item data-agriculture">
                                <div class="vk-project-grid slick-slider-homepage vk-slider-arrow-top clearfix">
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 9</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 1</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 2</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item data-industriel">
                                <div class="vk-project-grid slick-slider-homepage vk-slider-arrow-top clearfix">
                                    
                                 
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 5</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-7.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 7</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-8.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 8</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-9.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 10</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item data-building">
                                <div class="vk-project-grid slick-slider-homepage vk-slider-arrow-top clearfix">
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 10</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 6</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 11</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 4</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 5</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-7.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 7</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-8.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 8</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-9.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 10</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item data-furniture">
                                <div class="vk-project-grid slick-slider-homepage vk-slider-arrow-top clearfix">
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-1.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 10</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-building">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-2.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 6</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-3.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 3</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-4.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 4</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-agriculture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-5.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 8</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-6.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 5</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-industriel">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-7.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 7</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-4 col-sm-6 col-xs-12 item data-furniture">
                                        <div class="vk-project vk-project-grid-item">
                                            <div class="vk-img-frame">
                                                <a href="4.3-single-project.html" class="vk-img">
                                                    <img src="images/project/project-grid/img-9.jpg" alt="">
                                                </a>
                                            </div>
                                            <div class="content-hidden">
                                                <h4 class="vk-title text-uppercase"><a href="4.3-single-project.html">Projet 10</a></h4>
                                                <ul class="vk-list vk-list-inline vk-list-action-post">
                                                    <li><a href="4.3-single-project.html"><span class="ti-eye"></span></a></li>
                                                    <li><a href="#"><span class="ti-share"></span></a></li>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>