

<!doctype html>
<html lang="en">
 {% include head.html %}

<body>
<div class="animsition main-wrapper">
{% include header.html %}


    <section class="vk-content">
        <div class="vk-home vk-home-default">
            <div class="vk-banner vk-banner-x-large vk-banner-homepage">
                <div class="vk-background-overlay "></div>
                <div class="vk-background-image">
                    <img src="images/background/background-55.jpg" alt="">
                </div>
                <div class="content">
                    <div class="container wrapper">
                        <div class="page-heading">
                            <span class="vk-text title-main">SODAGRI</span><span class="vk-text title-sub">SOCIETE DE DEVELOPPEMENT AGRICOLE <br/>ET iNDUSTRIEL DU SENEGAL</span>
                        </div>
                    </div>
                </div>
                <!--./content-->
            </div>
            <!--./vk-banner-->
            <div class="vk-iconbox-section">
                <div class="vk-iconbox-fullwidth clearfix">
                    <div class="col-md-3 col-sm-6 vk-clear-padding">
                        <div class="vk-iconbox vk-iconbox-background text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-home-1"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">PERFECT QUALITY</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>
                    <div class="col-md-3 col-sm-6 vk-clear-padding">
                        <div class="vk-iconbox vk-iconbox-background vk-iconbox-striped text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-fan"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">SUPPORT 24/24</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>
                    <div class="col-md-3 col-sm-6 vk-clear-padding">
                        <div class="vk-iconbox vk-iconbox-background text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-hammer"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">MODERN STYLE</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>
                    <div class="col-md-3 col-sm-6 vk-clear-padding">
                        <div class="vk-iconbox vk-iconbox-background vk-iconbox-striped text-center">
                            <div class="icon">
                                <i class="flaticon flaticon-fence"></i>
                            </div>
                            <div class="iconbox-content">
                                <h4 class="vk-title text-uppercase">WARRANTY FOREVER</h4>
                                <p class="vk-text">Lorem Khaled Ipsum is a major key to success. Put it this way, it took me twenty five years to get these plants, twenty five years of blood sweat and tears.</p>
                            </div>
                        </div>
                        <!--./vk-iconbox-->

                    </div>
                </div>
            </div>
            <!-- /.vk-iconbox-section -->

            <div class="vk-section vk-our-project-section">
                <div class="container">
                    <h2 class="vk-heading vk-heading-border vk-heading-border-left">
                <span>
                    <span class="vk-text-color-yellow-1">nos</span>
                    projets
                </span>
                    </h2>

                    <nav class="box-filter text-center clearfix">
                        <ul class="vk-filter vk-filter-button hidden-xs hidden-sm">
                            <li class="data-filter" data-filter=".all">tous</li>

                            <li class="data-filter" data-filter=".data-agriculture">agriculture</li>

                            <li class="data-filter" data-filter=".data-industriel">industriel</li>

                        </ul>
                        <!--./vk-filter-->

                        <select class="vk-filter vk-filter-button form-control hidden-md hidden-lg">
                            <option class="data-filter" value=".all">all</option>

                            <option class="data-filter" value=".data-agriculture">agriculture</option>

                            <option class="data-filter" value=".data-industriel">industriel</option>

                            <option class="data-filter" value=".data-building">building</option>

                            <option class="data-filter" value=".data-furniture">furniture</option>

                        </select>
                        <!--./vk-filter-->                </nav>
                    <!--./box-filter-->

                    {% include home_projet.html %} 
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.vk-our-project-section -->

            <div class="vk-counter-section clearfix">
                <div class="container">
                    <div class="row">
                        <div class="vk-counter-box">
                            <div class="col-md-4 col-sm-12 vk-clear-padding">
                                <div class="vk-counter vk-counter-non-icon">

                                    <ul class="content">
                                        <li class="number-count" data-to="250">250</li>
                                        <li class="title text-uppercase">projets</li>
                                    </ul>
                                </div>
                                <!--./vk-counter-->

                            </div>
                            <div class="col-md-4 col-sm-12 vk-clear-padding">
                                <div class="vk-counter vk-counter-non-icon">

                                    <ul class="content">
                                        <li class="number-count" data-to="127">127</li>
                                        <li class="title text-uppercase">partenaires</li>
                                    </ul>
                                </div>
                                <!--./vk-counter-->

                            </div>
                            <div class="col-md-4 col-sm-12 vk-clear-padding">
                                <div class="vk-counter vk-counter-non-icon">

                                    <ul class="content">
                                        <li class="number-count" data-to="75">75</li>
                                        <li class="title text-uppercase">villes</li>
                                    </ul>
                                </div>
                                <!--./vk-counter-->

                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!--./vk-counter-section-->

               {% include home_services.html %} 


           
            <!--./vk-join-our-team-section-->
               {% include home_blog.html %} 
            <!-- /.vk-recent-blog-section -->

            <div class="clearfix"></div>

              {% include home_comm_partenaires.html %} 
            <!--./vk-content-bot-->
        </div>
        <!--./home-->
    </section>
    <!--./content-->
               {% include footer.html %} 
